include ../mixin/link
footer.footer
    ul.social-links
        li: a.icon-facebook2(href="https://fb.com/skydev.tech")
        li: a.icon-twitter(href="https://twitter.com/hescaide")
        li: a.icon-github(href="https://github.com/skydevht")
        li: a.icon-linkedin(href="https://www.linkedin.com/in/holy-elie-scaide-90393380/")
    .copyright &copy; #{(new Date()).getFullYear()} | Skydev
