include ../mixin/link
footer.footer
    ul.social-links
        li: a.icon-facebook2(href="#")
        li: a.icon-twitter(href="#")
        li: a.icon-github(href="#")
        li: a.icon-linkedin(href="#")
    .copyright &copy; #{(new Date()).getFullYear()} | Skydev
