// Footer area start
footer.footer-area.gray-bg
  .container
    .row
      .col-lg-12
        .social-bookmark.footer-social.text-center
          ul
            li
              a(href='https://web.facebook.com/hescaide', target='_blank')
                i.ti-facebook
            li
              a(href='https://twitter.com/hescaide', target='_blank')
                i.ti-twitter
            li
              a(href='https://github.com/skydevht', target='_blank')
                i.ti-github
            li
              a(href='https://www.linkedin.com/in/holy-elie-scaide-90393380/', target='_blank')
                i.ti-linkedin
        .copyright.text-center
          p Copyright @ 2019 Skydev
// Footer area end
