@font-face {
  font-family: 'skydev';
  src:  url('/asset/font/skydev.eot?pjbd88');
  src:  url('/asset/font/skydev.eot?pjbd88#iefix') format('embedded-opentype'),
    url('/asset/font/skydev.ttf?pjbd88') format('truetype'),
    url('/asset/font/skydev.woff?pjbd88') format('woff'),
    url('/asset/font/skydev.svg?pjbd88#skydev') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'skydev' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\ea0f";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
