extends _component/layout/base 
block settings
  - title = 'Skydev | What you need is what we do';
  - description = 'I\'m an haitian software engineer and a freelancer. I help you solve your business problems and implement your strategies. I create web applications that fit my client needs. The solution you need is just here';
block content
  include _component/home/slider
  include _component/home/about
  include _component/home/skills
  include _component/home/services
  include _component/home/resume
  include _component/home/cta
  include _component/home/contact
