extends _component/layout/base 
block settings
  - title = 'Skydev';
  - description = 'The solution you need is just here';
block content
  include _component/home/slider
  include _component/home/about
  include _component/home/skills
  include _component/home/services
  include _component/home/resume
