// About area start
#about.about-area.white-bg.pt-110
  .container
    .row
      .col-lg-5.col-md-5
        .profile-image
          img(src='/asset/image/hash.jpg', alt='')
      .col-md-6.col-md-offset-1.col-lg-6.col-lg-offset-1
        .profile-wrapper.pt-40
          .section-title
            h1 Intro
          .profile-details
            p.
              Hello! I'm an experienced Android and React (Native) developer.
              And what I do is solve your problems.
            p.
              I work primarily with individuals, small businesses with a project 
              they want to implement/update/add new features or just refactor to 
              better architecture and code. I also work with teams that want someone 
              with my skills.
            p.
              Right now, you have a great idea or a working app and you want to take
              it to the next level. My work is to ensure that. We will work together
              to make your vision a reality. In the end, you will have an app that will
              be stable and enjoyable to use.
            p.
              If all that applies to you, I think we can work really well together,
              so just click on the button below and let us start turning your 
              dream into reality
          .profile-action-btn
            a.button(href='https://www.upwork.com/o/profiles/users/_~01a4f9887618394fb4/', target='_blank') HIRE ME (UPWORK)
// About area end
