// Call to action start
#contact.call-to-action.gray-bg.pt-100.pb-110
  .container
    .row
      .col-lg-12
        .call-to-text.text-center
          h1 Wanna Start Work with me?
          p You can hire me on Upwork and start right away
          a.button.large(href='https://www.upwork.com/o/profiles/users/_~01a4f9887618394fb4/', target='_blank') Hire Me
// Call to action end
