// Resume area start
#resume.resume-area.pt-110.pb-80.gray-bg
  .container
    .row
      .section-title.text-center
        h1 Resume
    .row
      .col-sm-6
        .resume-wrapper.left
          .resume-title
            h2
              span
                i.ti-cup
              | Education:
          .single-resume
            p.work-duration October 2014 - Today
            h4 Bachelor in Electronic Engineering
            h5 Faculty of Science - State University of Haiti
      .col-sm-6
        .resume-wrapper.right
          .resume-title
            h2
              span
                i.ti-bag
              | Work:
          .single-resume
            p.work-duration October 2018 - November 2018 
            h4
              span
                img(src='/asset/image/clients/diversity.png', alt='')
              |  Diversity
            p.
              I was hired to complete a Web application for collecting information
              about companies' objectives for diversity at the workplace. It also
              collect work experience and company culture, how it is perceived
              by the employees.
            h5 React Developer
// Resume area end
