// Service area start
#service.service-area.gray-bg.pt-110.pb-80
  .container
    .row
      .col-lg-12
        .section-title.text-center
          h1 My Services
    .row
      .col-lg-12
        .service-slider-wrapper
          .service-slider
            .single-service
              .service-content.text-center
                i.ti-vector
                h5 UI/UX DESIGN
                p
                  | A beautiful design and a pleasant and user-friendly interface for your application.
            .single-service
              .service-content.text-center
                i.ti-world
                h5 WEB APP DEVELOPMENT
                p
                  | You want a web application? I got you covered from the initial requirements to the deployment of you service.
            .single-service
              .service-content.text-center
                i.ti-mobile
                h5 MOBILE APP DEVELOPMENT
                p
                  | A mobile application for your service can help boost your revenue. I'll be more than happy to assist you
// Service area end
