// Skill area start
.skill-area.white-bg.pt-100.pb-110
  .container
    .row
      .col-lg-12
        .section-title.text-center
          h1 My Skills
    .row
      .col-sm-6.col-sm-offset-3
        .progress-wrapper
          .single-progressbar
            h6 UI Design
            .progress
              .progress-bar.wow.fadeInLeft.animated(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;', data-wow-delay='.5s', data-wow-duration='0.5s')
                span 80%
          .single-progressbar
            h6 Web Development
            .progress
              .progress-bar.wow.fadeInLeft.animated(role='progressbar', aria-valuenow='95', aria-valuemin='0', aria-valuemax='100', style='width: 95%;', data-wow-delay='.6s', data-wow-duration='0.6s')
                span 95%
          .single-progressbar
            h6 Mobile Development
            .progress
              .progress-bar.wow.fadeInLeft.animated(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 90%;', data-wow-delay='.5s', data-wow-duration='0.5s')
                span 90%
          .single-progressbar
            h6 Database: MongoDB - SQL
            .progress
              .progress-bar.wow.fadeInLeft.animated(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100', style='width: 75%;', data-wow-delay='.5s', data-wow-duration='0.5s')
                span 75%
          .single-progressbar
            h6 System Administration: Windows - Linux
            .progress
              .progress-bar.wow.fadeInLeft.animated(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100', style='width: 75%;', data-wow-delay='.5s', data-wow-duration='0.5s')
                span 75%
// Skill area end
