// Slider area start
#home.slider-area
  .container-fluid
    .row
      .col-lg-12
        .slider-content-wrapper
          .slider-content.text-center
            h3 Hello,
            h1.cd-headline.clip.is-full-width
              span I’m
              | 
              span.cd-words-wrapper
                b.is-visible Holy-Elie Scaïde
                b a React Developer
                b a Laravel Developer
                b an Android Developer
            h1.mobile-slider-title I’m Holy-Elie Scaïde
            ul.profile-description
              li UX\UI DESIGNER
              li WEB DEVELOPER
              li ANDROID DEVELOPER
          .header-social.social-bookmark
            ul
              li
                a(href='https://web.facebook.com/hescaide', target='_blank')
                  i.ti-facebook
              li
                a(href='https://twitter.com/hescaide', target='_blank')
                  i.ti-twitter
              li
                a(href='https://github.com/skydevht', target='_blank')
                  i.ti-github
              li
                a(href='https://www.linkedin.com/in/holy-elie-scaide-90393380/', target='_blank')
                  i.ti-linkedin
              li
                a(href='https://medium.com/@hescaide', target='_blank')
                  i.ti-rss-alt
// Slider area end
